
.idea/vcs.xml
.idea/workspace.xml
.idea/BarberShop.iml
.idea/misc.xml
.idea/modules.xml
.public


.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/f20b9db4-9865-4f14-8e1a-3b23b4a40ffb.xml
.idea/dataSources/f20b9db4-9865-4f14-8e1a-3b23b4a40ffb/storage_v2/_src_/schema/main.uQUzAA.meta